.next-video{

  &__item{
    list-style: none;
    display: flex;
  }

  &__image{
    width: 210px;
    border-radius: 8px;
    margin-bottom: 1.5rem;
  }

  &__container {
    margin-left: 2rem;
  }

  &__title {
    margin-top: 0;
    font-size: 1.75rem;
    font-weight: 600;
    height: 5vh;
  }

  &__channel {
    font-size: 1.7rem;
    margin: 0;
  }
}