@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.next-video {
  padding: 0 2rem;
  margin-bottom: 3rem;

  @include tablet {
    padding: 0 3rem;
  }

  &__header{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    color: $primary-silver;

    @include tablet {
      font-size: 1.25rem;
      margin-bottom: 3rem;
    }
  }
}