@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.header {
  padding: 2rem;
  height: 32vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    flex-direction: row;
    gap: 20%;
    padding: 2.25rem;
    height: 4vh;
  }

  @include desktop {
    gap: 40%;
    padding-left: 8rem;
    padding-right: 8rem;
    height: 1vh;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    @include tablet {
      margin-bottom: 0;
      width: 63%;
    }
  }

  &__logo {
    height: 75px;
    width: 240px;
    margin-top: -1.5rem;
    margin-bottom: 1.25rem;

    @include tablet {
      margin-top: 1rem;
      width: 17%;
    }
  }

  &__search-bar{
    display: inline-block;
    height: 4.5vh;
    padding: 1rem 1rem 1rem 4.3rem;
    width: 100%;
    border-radius: 8px;
    background-image: url("../../assets/icons/search.svg");
    background-size: 33px;
    background-position: 20px center;
    background-repeat: no-repeat;
    color: black;
    cursor: pointer;
    border: 2px solid $secondary-mercury;
    font-size: 1.5rem;
    background-color: $secondary-white;

    @include tablet {
      background-position: 15px;
      padding: 16px 16px 16px 45px;
    }

    &::placeholder {
      color: black;
    }
  }

  &__form {
    width: 100%;

    @include tablet {
      display: flex;
      gap: 1.5rem;
      width: 60%;
    }
  }

  &__avatar {
    min-height: 75px;
    min-width: 75px;
    margin-left: 2rem;
    border-radius: 50%;
    background-image: url("../../assets/images/Mohan-muruge.jpg");
    background-size: cover;
    display: inline-block;

    &--mobile {
      @include tablet {
        display: none;
      }
    }

    &--tablet{
      display: none;
      margin-left: 0;

      @include tablet {
        display: block;
        min-height: 55px;
        min-width: 55px;
      }
    }
  }

  &__button {
    position: relative;
    display: block;
    height: 9.5vh;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: $mobile-other-weight;
    background: $primary-blue;
    color: $primary-white;

    @include tablet {
      height: 6.3vh;
      margin-top: 0.05rem;
      width: 40%;
    }
  }

  &__button-image {
    position: absolute;
    left: 1rem;
    top: 25%;
    height: 5vh;
  }
}
