@use "../partials/variables" as *;
@use "../partials/global" as *;
@use "../partials/mixins" as *;
@use "../partials/fonts" as *;

.header {
  padding: 1rem;
  height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    flex-direction: row;
    gap: 12.5vw;
    padding: 2.25rem;
    height: 4vh;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;

    @include tablet {
      margin-bottom: 0;
      width: 60%;
    }
  }

  &__logo {
    height: 25px;
    width: 120px;
    margin-bottom: 1.25rem;
    margin-top: 1rem;
  }

  &__search-bar{
    display: inline-block;
    max-height: 36px;
    padding: 12px 12px 12px 40px;
    width: 100%;
    border-radius: 5px;
    background-image: url("../../assets/icons/search.svg");
    background-size: 20px;
    background-position: 10px center;
    background-repeat: no-repeat;
    color: black;
    cursor: pointer;
    border: 2px solid $secondary-mercury;
    background-color: $secondary-white;
    font-size: $mobile-other-size;
    line-height: $mobile-other-height;
    font-weight: $mobile-other-weight;

    @include tablet {
      padding-left: 45px;
      background-position: 15px;
      font-size: $general-other-size;
      line-height: $general-other-height;
      font-weight: $general-other-weight;
    }

    &::placeholder {
      color: black;
    }
  }

  &__form {
    width: 100%;

    @include tablet {
      display: flex;
      gap: 1.5rem;
    }
  }

  &__avatar {
    min-height: 50px;
    min-width: 50px;
    margin-left: 1rem;
    border-radius: 50%;
    background-image: url("../../assets/images/Mohan-muruge.jpg");
    background-size: cover;
    display: inline-block;

    &--mobile {
      @include tablet {
        display: none;
      }
    }

    &--tablet{
      display: none;
      margin-left: 0;

      @include tablet {
        display: block;
      }
    }

    @include tablet {
    }
  }

  &__button {
    position: relative;
    display: block;
    height: 5vh;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: $mobile-other-size;
    line-height: $mobile-other-height;
    font-weight: $mobile-other-weight;
    background: $primary-blue;
    color: $primary-white;

    @include tablet {
      height: 5.6vh;
      margin-top: 0.05rem;
      width: 40%;

      font-size: $general-other-size;
      line-height: $general-other-height;
      font-weight: $general-other-weight;
    }
  }

  &__button-image {
    position: absolute;
    left: 1rem;
    top: 30%;
    height: 1.25rem;
  }
}
