@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.video {

  &__content {
    height: 45.3vh;
    width: 100%;
    background-color: $secondary-black;

    @include tablet {
      height: 75vh;
    }
  }

  &__container {
    margin: 2rem;

    @include tablet {
      margin-left: 4rem;
      margin-right: 3rem;
    }
  }

  &__title {
    font-size: 3.3rem;
    margin-top: 0;
    margin-bottom: 2rem;
    color: $primary-black;

    @include tablet {
      font-size: 3.2rem;
      margin-bottom: 0;
    }
  }

  &__info {
    border-top: $secondary-mercury 2px solid;
    border-bottom: $secondary-mercury 2px solid;
    color: $primary-silver;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      border-top: none;
      align-items: center;
      justify-content: center;
      padding: 2rem 0 1rem 0;
    }
  }

  &__channel {
    color: $secondary-black;
    margin-top: 0;
    font-weight: 600;
    font-size: 1.8rem;
    width: 50%;

    @include tablet {
      order: 1;
      width: 25%;
      font-size: 1.35rem;
      margin-bottom: 0;
    }
  }

  &__views, &__date, &__likes {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    width: 50%;

    @include tablet {
      width: 25%;
    }
  }

  &__views{
    margin-top: -1rem;
    @include tablet {
      order: 3;
      margin-top: 0;
      font-size: 1.2rem;
      position: relative;
      left: 6.5rem;
    }
  }

  &__date, &__likes {
    margin-top: 0.3rem;
  }

  &__likes {
    @include tablet {
      order: 4;
      margin-top: 0;
      font-size: 1.2rem;
    }
  }

  &__date {
    @include tablet {
      order: 2;
      font-size: 1.15rem;
      position: relative;
      left: -1rem;
    }
  }

  &__info-image{
    height: 30px;
    padding-left: 2rem;
    margin-right: 1rem;

    @include tablet {
      height: 25px;
      padding-left: 11rem;
      margin-right: 0.65rem;
    }
  }

  &__description {
    padding: 0 2rem;
    font-size: 1.65rem;
    letter-spacing: 0.01rem;
    line-height: 2.35rem;

    @include tablet {
      padding: 0 4rem;
      font-size: 1.38rem;
    }
  }
}

